<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 "><blockquote>
        <%= profile_img(user) %>
        <div class="item">
          <%= link_to user.name, user_path(user.id) %>
          <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
        </div>
        <%= render 'follow_form', user: user %></blockquote>
    <% end %>
      </div>
  <% end %>
</div>